<div class="d-flex flex-column align-items-center justify-content-center w-screen h-screen overflow-hidden bg-gradient-to-tl from-black via-zinc-600/20 to-black">
  <nav class="my-16 animate-fade-in">
    <ul class="d-flex align-items-center align-justify-center gap-4 ps-0">
      <ng-container *ngFor="let item of navigation">
        <a
          id={{item.name}}
          [routerLink]="[item.href]" routerLinkActive="router-link-active" 
          class="text-sm duration-500 nav-link"
        >
          {{item.name}}
        </a>
      </ng-container>        
    </ul>
  </nav>
  <div class="hidden w-screen h-px md:block animate-fade-left bg-gradient-to-r from-zinc-300/0 via-zinc-300/50 to-zinc-300/0" ></div>
  <h2 class="display-1 m-0 p-0 fw-bold z-10 text-4xl text-transparent duration-1000 bg-white cursor-default text-edge-outline animate-title font-display sm:text-6xl md:text-9xl whitespace-nowrap bg-clip-text">
    <span class="">{{title}}</span>
  </h2>
  <div class="hidden w-screen h-px md:block animate-fade-right bg-gradient-to-r from-zinc-300/0 via-zinc-300/50 to-zinc-300/0" ></div>
  <div class="my-16 text-center animate-fade-in">
    
    <span class="text-sm text-zinc-500 " >{{myIntroText}}
    </span>
  </div>
</div>
<ngx-particles [prop]="{ quantity: 200, staticity: 60, ease: 50 }" [mousePosition]="mousePosition"></ngx-particles>
<router-outlet></router-outlet>
