@import "~bootstrap/dist/css/bootstrap.min.css";

*, :after, :before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  margin: 0;
  line-height: inherit;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-inter),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity)) !important;
  background-color: #12011a !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  75% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: .25em;
    opacity: 0;
  }
  25% {
      line-height: 0%;
      opacity: 0;
  }
  80% {
      opacity: 100%;
  }
  100% {
      line-height: 100%;
      opacity: 100%;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  30% {
      transform: translateX(0);
      opacity: 100%;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  30% {
      transform: translateX(0);
      opacity: 100%;
  }
  100% {
      opacity: 0;
  }
}


h1 {
  margin: 0px !important;
}

.animate-fade-left {
  animation: fade-left 3s ease-in-out forwards;
}

.animate-fade-in {
  animation: fade-in 3s ease-in-out forwards;
}

.animate-fade-right {
  animation: fade-right 3s ease-in-out forwards;
}

.animate-title {
  animation: title 3s ease-out forwards;
}

.duration-1000 {
  transition-duration: 1s;
}